.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(215, 222, 238, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-task__container {
    width: 90%;
    background-color: #faebd7;
    border: 3px solid black;
    border-radius: 1rem;
}
.description__container {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.buttons__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}
.add-task__description {
    width: 80%;
    height: 5rem;
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
    margin-bottom: 4rem;
}
.add-task__cancel, .add-task__add {
    border: none;
    background-color: inherit;
}
.add-task__cancel:hover .icon-tabler-x {
    stroke: #b51616;
}
.add-task__add:hover .icon-tabler-plus {
    stroke: green;
}
.add-task__cancel .icon-tabler-x, .add-task__add .icon-tabler-plus {
    transition: stroke 0.5s 0s ease;
}