* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.main {
    width: 100%;
    background-color: #faebd7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}
.title {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
.description {
    font-size: 2rem;
    margin-bottom: 3rem;
}
.Add-Button {
    border: none;
    width: 80%;
    margin: 0 1rem;
    text-align: right;
    background-color: #faebd7;
}
.Add-Button .icon-tabler-circle-plus {
    transition: stroke 0.5s 0s ease;
}
.Add-Button:hover .icon-tabler-circle-plus {
    stroke: #00abfb;
}
.fix-body {
    overflow: hidden;
}