.searcher {
    margin-bottom: 3rem;
    padding: 1rem 4rem;
    border-radius: 1rem;
    font-size: 1.7rem;
    border: none;
    outline: none;
    background-color: #faebd7;
    border: 1px solid black;
    min-width: 26.2rem;
    width: 85%;
    max-width: 57.5rem;
}
@media (min-width: 768px) {
    .searcher {
        margin-bottom: 5rem;
    }
}