.task {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.task__description {
    width: 100%;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}
.complete__task {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    cursor: pointer;
}
.delete__task {
    background-color: #ecebe9;
    border: none;
    border-radius: 1rem;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.delete__task .icon-tabler-trash, .complete__task .icon-tabler-check {
    transition: stroke 0.5s 0s ease;
}
.delete__task:hover .icon-tabler-trash {
    stroke: #ff2825;
}
.complete__task:hover .icon-tabler-check {
    stroke: #00b341;
}
.completed__text {
    text-decoration: line-through;
}
.completed__tick {
    stroke: #00b341;
}
.complete__task:hover .completed__tick {
    stroke: #6f32be;
}
@media (min-width: 768px) {
    .task {
        width: 40%;
        margin: 0 1rem 0 3rem;
    }
    .task__description {
        line-height: 2rem;
    }
}
@media (min-width: 1024px) {
    .task {
        width: 28%;
    }
}
